
html {
   backface-visibility: hidden;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.924);
   
	box-sizing: border-box;
    background-color:black;
    color:white;

    
    font-family: 'Permanent Marker', cursive;
}
*, *:before, *:after {
	box-sizing: inherit;
}
@media (min-width: 300px){
    .padre{
        margin-top: 30%;
    }
}

@media (min-width: 400px){
    .padre{
        margin-top:10%;
    }
}


.container{
    margin:auto;
    box-sizing: inherit;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    
}

.square{
float: left;
    width: 33.333333333%;
    height: 33.333333333%;
    border-width: 5px;
    border-color: #fff;
}
.square.left{
    clear: both;
    border-right-style: solid;
}
.square.top{
    border-bottom-style: solid;
}
.square.right{
    border-left-style: solid;
}
.square.left{
    clear: both;
    border-right-style: solid;
}
.square.right{
    border-left-style: solid;
}
.square.bottom{
    border-top-style: solid;
}
img{
    width: 50px;
    height: 50px;
}
.square{
    display: flex;
    align-items: center;
    justify-content:center;
}
.scores{
    display: flex;
    justify-content:center;
}

@keyframes grow {
    from{font-size:0}
    to{font-size:40px}
}
.valor{
    animation-name: grow;
    animation-duration: .5s;
    font-size: 40px;   
}
 
@keyframes parpadeo {  
    0% { opacity: 0.0; }
  /*   50% { opacity: 0.5; }*/
    100% { opacity: 1.0; }
  }


span{
    font-size:25px;
}
span.parpadeos{
    animation-duration: .5s;
    animation-name: parpadeo;
    animation-iteration-count: infinite;
}
.square.parpadeos{
    animation-duration: .5s;
    animation-name: parpadeo;
    animation-iteration-count: infinite;    
}

.almost-visible{
    opacity: .4;
}
.visibleyes{
    opacity: 1;
}
.scores{
    margin:10px auto;
    width: 50%;
}
.score-x{
    margin-right: 10px;
}
.score-o{
margin-left: 10px;
}
/*
.point-x{
    margin-right:150px;
}
.point-o{
    margin-left:50px;
}*/
.puntajes{
    margin: auto;
    max-width: 300px;
display: flex;
justify-content: space-around;
}
.empate{
    opacity: .4
}